<nav class="navigation-main">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
                          <span class="ti-menu"></span>
                      </button>
                    <a class="navbar-brand" href="#"><img class="img-responsive" src="images/solar-enterprises/solar-enterprises-small.png" alt="" /></a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="navigation-items nav navbar-nav navbar-right">
                        <li> <a class="phantom" href="#hero">{{ i18n.__("Home") }}</a> </li>
                        <li> <a href="#about">{{ i18n.__("About") }}</a> </li>
                        <li> <a href="#service">{{ i18n.__("Our Products") }}</a> </li>
                        <li> <a href="#team">{{ i18n.__("Team") }}</a> </li>
                        <li> <a href="#contact">{{ i18n.__("Contact") }}</a> </li>
                        <li class="dropdown">
                            <span class="dropdown-toggle" data-toggle="dropdown">Language <b class="caret"></b></span>
                            <ul class="dropdown-menu">
                                <li><a href="/language/en" alt="English">English</a></li>
                                <li><a href="/language/jp" alt="Japanese">日本語</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
</nav>